<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="" class="navbar-brand">JAKUB POZARYCKI</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="resume" class="nav-link">Resume</a>
      </li>
      <li class="nav-item">
        <a routerLink="projects" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a routerLink="about-me" class="nav-link">About me</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
