
* {
  letter-spacing: 0.04em!important;
}


.my-icons {
  max-height: 30px;
}


h3 {
  text-transform: uppercase;
  margin-bottom: 8px;
}


.list-group-horizontal {
  width: 50%;
}

.list-group-item {
  border: none;
  width: 50%;
  padding: 1vw;
}

@media (min-width: 978px) {
  .row {
    padding-top: 2vh;
  }
}
