<div class="container container-fluid" [@contentState]="state">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
          <h3>Who am I?</h3>
          <p>I am a self-taught developer with great passion for programming, designing and exploring new things. I code
            whenever and wherever I can - trains ain't a threat for me!</p>
      </div>
      <div class="row">
        <h3>Which technologies do I use?</h3>
        <p>I focus mainly on Java 8 with Spring Boot, Hibernate, REST, Angular 8, HTML, CSS3, Bootstrap, MYSQL, Git,
          Linux. My IDE of choice is IntelliJ IDEA.</p>
        <ul class="list-group list-group-horizontal" style="width: 100%;">
          <li class="list-group-item" *ngFor="let icon of icons"><img class="my-icons" [src]="icon"></li>
        </ul>
      </div>
      <div class="row">
        <h3>Is there life after coding?</h3><br>
        <p>Hard question... of course there is! In my off-time I do squats, deadlifts and whatever else I can with barbell. There is nothing more humbling and strengthening than heavy iron on your back.</p>
        <p>In the evenings I seldom hesitate to grab a book ranging from self-development through philosophy to science-fiction - whatever can help me grow and become better version of myself. </p>
      </div>
  </div>
</div>
</div>
