<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-8" *ngFor="let project of projects">
      <div class="card card-cascade wider mb-3" id="card"[@cardAnimation]="state">
        <div class="card-header">{{project.title}}</div>
        <img class="card-img-top" [src]="project.pictureUrl">
        <div id="description">{{ project.description }}</div>
        <div class="card-body">
        <ul class="list-group list-group-horizontal-lg justify-content-center">
          <li class="list-group-item" *ngFor="let technology of project.usedTechnologies"> {{technology}}</li>
        </ul>
          <hr>
        <ul class="list-group" style="padding: 10px">
          <a href="{{project.webLink}}" *ngIf="project.webLink"><li class="btn btn-1"><img src="https://img.icons8.com/material/24/000000/internet.png" style="max-height: 20px"><div class="hidden">Project preview</div></li></a>
          <a href="{{project.gitLink}}"><li class="btn btn-2"><img src="https://img.icons8.com/ios/50/000000/github-filled.png"  style="max-height: 20px"> <div>Github code</div></li></a>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
