.container{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.edit-section {
  /*margin: 10px;*/

}

h2  {
  text-transform: uppercase;
}

.current-link {
  border: 1px solid dimgrey;
}

img {
  max-height: 500px;
}

