/* You can add global styles to this file, and also import other style files */
router-outlet ~ * {
  position: relative;
  height: 100%;
  width: 100%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media (max-width: 978px) {
  .container {
    transform: scale(0.9);
  }

}
